@{
    ViewBag.Title = "Job Card Creator";
}

<div class="jumbotron">
    <h1>Job Card</h1>
    <p class="lead">Job Card, A simple web App for the creation of on site job cards.</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>






 <div class="row">
    <div class="col-md-4">
        <h2>Customers</h2>
        <p>
           Create, Edit, Update, and Delete Customers to/from Database!
        </p>
        <p><a class="btn btn-default" href="~/Customers/">Click Here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Engineers</h2>
        <p>Create, Edit, Update, and Delete Engineers to/from Database!</p>
        <p><a class="btn btn-default" href="~/Engineers/">Click Here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Job Cards</h2>
        <p>View, Edit and Manage Jobcards</p>
        <p><a class="btn btn-default" href="~/JobCards/">Click Here &raquo;</a></p>
    </div>
</div>